<div class="shapedividers h-20"></div>
<footer class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <h3>Market Indexes Inventory</h3>
        <p>This project is made by guudewie.</p>
    </div>
</footer>