<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
            </svg>  
        </a>
        <nav class="space-x-4">
            <a href="/index" class="hover:text-gray-300 transition duration-300">Index</a>
            <a href="/security" class="hover:text-gray-300 transition duration-300">Security</a>
            <a href="/security-type" class="hover:text-gray-300 transition duration-300">Security Type</a>
        </nav>
    </div>
</header>
     