<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
            </svg>  
        </a>
        <nav class="">
            <a id="indexTap" href="/index" class="border-b border-gray-500 px-3 py-1.5 bg-gray-800 ">Index</a>
            <a id="securityTap" href="/security" class="border-b border-gray-500 px-3 py-1.5 bg-gray-800">Security</a>
            <a id="typeTap" href="/security-type" class="border-b border-gray-500 px-3 py-1.5 bg-gray-800">Security Type</a>
        </nav>
    </div>
</header>

<script>
    const path = window.location.pathname;
    const borderStyle = "border-white"
    const indexTap = document.getElementById("indexTap");
    const securityTap = document.getElementById("securityTap");
    const typeTap = document.getElementById("typeTap");

    function setActiveNavItem() {
        if (path.includes("/index")) {
            indexTap.classList.add(borderStyle);
        } else if (path.includes("/security-type")) {
            typeTap.classList.add(borderStyle);
        } else if (path.includes("/security")) {
            securityTap.classList.add(borderStyle);
        }
    }

    setActiveNavItem();
</script>