
<header>
    <div class="heading">Market Index & Securities Hub</div>
    <nav class="links">
        <a href="/index">Index</a>
        <a href="/security">Security</a>
        <a href="/security-type">Security Type</a>
    </nav>
</header>