<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <title>MS HUB</title>
</head>
<body class="backgroundTypography flex flex-col min-h-screen">
    <%- include("./layoutPartials/header") %>
    <main class="flex-grow container mx-auto py-8 p-4 flex min-h-screen">
        <%-  body  %>
    </main>
    <%- include("./layoutPartials/footer") %>
</body>
</html>